<!--Namespace da classe de Modelo para esta view-->
@model IEnumerable<APIMvc.Models.FMViewModel>
<!--Inclua os TempData para Sucesso e Erro aqui, conforme exemplo na view de Autenticação-->
@{
    ViewBag.Title = "Frases";
}
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]</div>
}
<!--Configuração para exibir mensagem de erro -->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]</div>
}<!--Título da página para o navegador-->
<h2>Digame Qual seu sentimeto</h2><!--Título da página-->
<p> <!--Links apontando para views na mesma pasta-->
    @Html.ActionLink("Criar Nova Moeda", "Create")
</p>
<table class="table">
    <tr><!--Títulos das colunas da tabela-->
        <th>@Html.DisplayNameFor(model => model.frase)</th>
        <th>@Html.DisplayNameFor(model => model.sentimento)</th>
        <th>@Html.DisplayNameFor(model => model.autor)</th>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        
        <th></th>
    </tr>
    <!--Looping para escrever os dados na tabela-->
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.frase)</td>
            <td>@Html.DisplayFor(modelItem => item.sentimento)</td>
            <td>@Html.DisplayFor(modelItem => item.autor)</td>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            
            <td><!--Coluna para Links/botões-->
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |

                @Html.ActionLink("Deletar", "Delete", new { id = item.ID }
                , new { onclick ="return confirm ('Deseja Realmente excluir essa frase ?');"})
            </td>
        </tr>
    }
</table>